.env
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules/

.next/
out/
dist/
build/

coverage/

src/generated/prisma/

.vscode/
.idea/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
